<!doctype html>
<html lang="pt-br">
  <head>
        <title>Editar Usuário</title>
        <%- include('../../partials/head'); %>
  </head>
  <body onload="iniciar()">
    <header>
        <%- include('../../partials/header'),{nomeUsr:nomeUsr}; %>
    </header>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header bg-danger">
                <h4 class="text-white"id="titulo">Editar saída ID: <%=id %></h4>
            </div>
            <div class="card-body">
                <form action="/updateSaida" method="POST">
                    <input type="text" name="id" id="id"  hidden>
                    <div class="mb-3">
                        <label for="saida" class="form-label">Nome Saída:</label>
                        <input type="text" class="form-control" id="nomeSaida" name="nomeSaida" tabindex="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="saida" class="form-label">Categoria:</label>
                        <input type="text" class="form-control" id="categoriaSaida" name="categoriaSaida" tabindex="2" required>
                    </div>
                        <div class="row">
                        <div class="mb-3 col-md-6 col-sm-12">
                            <label for="saida" class="form-label">Valor:</label>
                            <input type="text" class="form-control" id="valorSaida" name="valorSaida" tabindex="3" required>
                        </div>
                        <div class="mb-3 col-md-6 col-sm-12">
                            <label for="saida" class="form-label">Data:</label>
                            <input type="date" class="form-control" id="dataSaida" name="dataSaida" tabindex="4"required>
                        </div>
                    </div> 
                    <div class="mb-3">
                        <label for="saida" class="form-label">Obs.:</label>
                        <input type="text" class="form-control" id="obsSaida" name="obsSaida" tabindex="5">  
                    </div>
                    <a href="/saidas" class="btn btn-secondary" tabindex="6" title="Voltar">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>  
                    <button type="submit" class="btn btn-danger" tabindex="7" title="Salvar">
                        <i class="bi bi-save"></i> 
                    </button>     
                       
                </form>
            </div>
        </div>    
    </div>
    <footer>
      <%- include('../../partials/footer'); %>
    </footer> 
    <script> 
        function iniciar(){
            let url = "/getSaida/"+"<%=id%>";
            const loadData = () => {
                const req = new XMLHttpRequest();
                req.onload = reqListener;
                req.open("get", url, true);
                req.send();
            };
            const reqListener = response => {
            let a = JSON.parse(response.currentTarget.response);
            let sai = a[0];
            //declatação das variaveis
            let t1 = document.getElementById("titulo");
            let id = document.getElementById("id");
            let nome = document.getElementById("nomeSaida");
            let categoria = document.getElementById("categoriaSaida");
            let valor = document.getElementById("valorSaida");
            let dataS = document.getElementById("dataSaida");
            let obs = document.getElementById("obsSaida");
            // definindo valores no HTML
            t1.innerHTML = "Editar saída ID: "+ sai.saida_id;
            id.value = sai.saida_id;
            nome.value = sai.saida_nome;
            categoria.value = sai.saida_categoria;
            valor.value = sai.total.toFixed(2);
            dataS.value = sai.data;
            obs.value = sai.saida_obs;
            
            };
            loadData();
        };   
    </script>
   </body>
</html>
