<!doctype html>
<html lang="pt-br">
  <head>
        <title>Editar Usuário</title>
        <%- include('../../partials/head'); %>
  </head>
  <body onload="iniciar()">
    <header>
        <%- include('../../partials/header'),{nomeUsr:nomeUsr}; %>
      </header>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header bg-warning">
                <h4 id="titulo" class='text-white'>Editar Caminhão ID:</h4>
            </div> 
            <div class="card-body">
                <form action="/updateCam" method="POST">
                    <input type="text" name="id" id="id"  hidden>
                    <div class="mb-3">
                        <label for="user" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nomeCam" name="nomeCam" tabindex="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Placa</label>
                        <input type="text" class="form-control" id="placaCam" name="placaCam" tabindex="2" required>
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Tamanho</label>
                        <input type="text" class="form-control" id="tamanhoCam" name="tamanhoCam" tabindex="3" required>
                    </div> 
                    <div class="mb-3">
                        <label for="user" class="form-label">Ano</label>
                        <input type="text" class="form-control" id="anoCam" name="anoCam" tabindex="3" required>
                    </div> 
                    <div class="mb-3">
                        <label for="caminhao" class="form-label">RENAVAM</label>
                        <input type="text" class="form-control" id="renavam" name="renavam" tabindex="5" required>
                    </div>
                    <button type="submit" class="btn btn-warning" tabindex="6" title="Salvar">
                        <i class="bi bi-save"></i> 
                    </button>     
                    <a href="/caminhoes" class="btn btn-secondary" tabindex="7" title="Voltar">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>     
                </form>
            </div>
        </div>    
    </div>
    
    <footer>
      <%- include('../../partials/footer'); %>
    </footer>
    <script> 
        function iniciar(){
            let url = "/getCam/"+"<%=id%>";
            const loadData = () => {
                const req = new XMLHttpRequest();
                req.onload = reqListener;
                req.open("get", url, true);
                req.send();
            };
            const reqListener = response => {
            let a = JSON.parse(response.currentTarget.response);
            let cam = a[0];
            //declatação das variaveis
            let t1 = document.getElementById("titulo");
            let id = document.getElementById("id");
            let nome = document.getElementById("nomeCam");
            let placa = document.getElementById("placaCam");
            let tam = document.getElementById("tamanhoCam");
            let ano = document.getElementById("anoCam");
            let renavam = document.getElementById("renavam");
            // definindo valores no HTML
            t1.innerHTML = "Editar Caminhão ID: "+ cam.cam_id;
            id.value = cam.cam_id;
            nome.value = cam.cam_nome;
            placa.value = cam.cam_placa;
            tam.value = cam.cam_tamanho;
            ano.value = cam.cam_ano;
            renavam.value = cam.cam_renavam;
            };
            loadData();
        };   
    </script>
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%=aTitle%>',
                text: '<%=aText%>',
                icon: '<%=aIcon%>',
                showConfirmButton: '<%=scb%>',
                timer: '<%=timer%>'
            }).then(()=>{
                window.location='<%=rota%>'
            })
        </script>
    <% } %>  
   </body>
</html>
