<!doctype html>
<html lang="pt-br">

<head>
    <title>Editar Usuário</title>
    <%- include('../../partials/head'); %>
</head>

    <body onload="iniciar()">
        <header>
            <%- include('../../partials/header'),{nomeUsr:nomeUsr}; %>
        </header>
        <div class="container mt-4">
            <div class="card border-secondary">
                <div class="bg-primary card-header rounded-top text-white px-3">
                    <h2 id="titulo">Visualização de Usuário: </h2>
                </div>
                <div class="dados mt-0 px-3">
                    <div class="linha">
                        <strong>ID:</strong>
                        <p class="pe" id="id"><%= id %></p>
                    </div>
                    <div class="linha">
                        <strong>Nome: </strong>
                        <p class="pe" id="nome"><%= usu.Host%></p>
                    </div>
                    <div class="linha">
                        <strong>E-mail: </strong>
                        <p class="pe" id="email"><%= usu.u_email%></p>
                    </div>
                    <div class="linha">
                        <strong>classe: </strong>
                        <p class="pe" id="classe"><%= usu.u_classe%></p>
                    </div>
                    <br><br>
                    <div class="linha">
                        <strong>Ultimo Login: </strong>
                        <p class="pe" id="last-login"><%= usu.u_last_login%></p>
                    </div>
                    <div class="linha">
                        <strong>Foto: </strong>
                        <img class="pe" id="foto" src="<%= usu.u_foto%>">
                    </div>
                    <div class="linha">
                        <strong>Senha: </strong>
                        <p class="pe" id="senha"><%= usu.u_senha%></p>
                    </div>
                    <a href="/editarUsuario/<%= id %>" class="btn btn-primary" tabindex="1" title="Editar">
                        <i class="bi bi-pencil-fill"></i> 
                    </a>
                    <a href="/usuarios" class="btn btn-secondary m-1" tabindex="2" title="Voltar">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>
                </div>
            </div>    
        </div>
        <footer>
            <%- include('../../partials/footer'); %>
        </footer>
        <script>
            
            /* function iniciar(){
                let url = "/getUsr/"+"<%=id%>";
                const reqUser = response => {
                let a = JSON.parse(response.currentTarget.response);
                let usu = a[0];
                //declatação das variaveis
                let t1 = document.getElementById("titulo");
                let uid = document.getElementById("id");
                let nome = document.getElementById("nome");
                let email = document.getElementById("email");
                let classe = document.getElementById("classe");
                let login = document.getElementById("last-login");
                let foto = document.getElementById("foto");
                let senha = document.getElementById("senha");
                // definindo valores no HTML
                t1.innerHTML = "Visualização de Usuário: " + usu.u_nome;
                uid.innerHTML =  usu.u_id;
                nome.innerHTML =  usu.u_nome;
                email.innerHTML =  usu.u_email;
                classe.innerHTML =  usu.u_class;
                login.innerHTML =  usu.u_last_login;
                console.log(usu.u_foto)
                foto.src =  usu.u_foto';
                senha.innerHTML =  usu.u_senha;                
                };
                getJSON(url,reqUser);
            };   */ 
        </script>
    </body>
</html>