<!doctype html>
<html lang="pt-br">
  <head>
        <title>Editar Cliente</title>
        <%- include('../../partials/head'); %>
  </head>
  <body onload="iniciar()">
    <header>
        <%- include('../../partials/header'),{nomeUsr:nomeUsr}; %>
      </header>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header bg-info">
                <h4 id="titulo" class="text-white">Editar Cliente:</h4>
            </div>
            <div class="card-body">
                <form action="/updateCli" method="POST">                    
                    <input type="text" name="id" id="id"  hidden>
                    <div class="mb-3">
                        <label for="user" class="form-label">Nome Cliente</label>
                        <input type="text" class="form-control" id="nomeCli" name="nomeCli" tabindex="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Apelido</label>
                        <input type="text" class="form-control" id="apelidoCli" name="apelidoCli" tabindex="2" required>
                    </div>                    
                    <div class="row">
                        <div class="mb-3">
                            <label for="user" class="form-label">CPF</label>
                            <input type="text" class="form-control" id="cpfCli" name="cpfCli" tabindex="3" required>
                        </div>                       
                        <div class="mb-3 col-lg-6 col-md-12">
                            <label for="user" class="form-label">CNPJ</label>
                            <input type="text" class="form-control" id="cnpjCli" name="cnpjCli" tabindex="4" required>
                        </div>
                    </div>
                    <div class="mb-3 col-lg-6 col-md-12">
                        <label for="user" class="form-label">Endereco</label>
                        <input type="text" class="form-control" id="endCli" name="endCli" tabindex="5" required>
                    </div>   
                    <div class="row">
                        <div class="mb-3 col-lg-6 col-md-12">
                            <label for="user" class="form-label">Bairro</label>
                            <input type="text" class="form-control" id="bairroCli" name="bairroCli" tabindex="6" required>
                        </div> 
                        <div class="mb-3 col-lg-6 col-md-12">
                            <label for="user" class="form-label">CEP</label>
                            <input type="text" class="form-control" id="cepCli" name="cepCli" tabindex="7" required>
                        </div>
                    </div>
                    <div class="row">     
                        <div class="mb-3 col-lg-6 col-md-12">
                            <label for="user" class="form-label">Telefone</label>
                            <input type="text" class="form-control" id="telCli" name="telCli" tabindex="8" required>
                        </div> 
                        <div class="mb-3 col-lg-6 col-md-12">
                            <label for="user" class="form-label">Celular</label>
                            <input type="text" class="form-control" id="celCli" name="celCli" tabindex="9" required>
                        </div>
                    </div>     
                     <button type="submit" class="btn btn-info" tabindex="10" title="Salvar">
                        <i class="bi bi-save"></i> 
                    </button>     
                    <a href="/clientes" class="btn btn-secondary" tabindex="11" title="Voltar">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>     
                </form>
            </div>
        </div>    
    </div>
    <footer>
      <%- include('../../partials/footer'); %>
    </footer>
    <script>   
        function iniciar(){
            let url = "/getCli/"+'<%=id%>';
            console.log(url);
            const loadData = () => {
                const req = new XMLHttpRequest();
                req.onload = reqListener;
                req.open("get", url, true);
                req.send();
            };
            const reqListener = response => {
            let a = JSON.parse(response.currentTarget.response);
            let cli = a[0];
            //declatação das variaveis
            let t1 = document.getElementById("titulo");
            let cid = document.getElementById("id");
            let nome = document.getElementById("nomeCli");
            let apelido = document.getElementById("apelidoCli");
            let cnpj = document.getElementById("cnpjCli");
            let cpf = document.getElementById("cpfCli");
            let end = document.getElementById("endCli");
            let bairro = document.getElementById("bairroCli");
            let cep = document.getElementById("cepCli");
            let tel = document.getElementById("telCli");
            let cel = document.getElementById("celCli");
            // definindo valores no HTML
            t1.innerHTML = "Informações do Cliente: " + cli.cli_nome;
            cid.value = cli.cli_id;
            nome.value = cli.cli_nome; 
            apelido.value = cli.cli_apelido;
            cnpj.value = cli.cli_cnpj;
            cpf.value = cli.cli_cpf;
            end.value = cli.cli_endereco;
            bairro.value = cli.cli_bairro;
            cep.value = cli.cli_cep;
            tel.value = cli.cli_telefone;
            cel.value = cli.cli_celular;
            };
            loadData();
        }; 
        </script>
        <% if(typeof alert != "undefined"){ %>
            <script>
                Swal.fire({
                    title: '<%=aTitle%>',
                    text: '<%=aText%>',
                    icon: '<%=aIcon%>',
                    showConfirmButton: '<%=scb%>',
                    timer: '<%=timer%>'
                }).then(()=>{
                    window.location='<%=rota%>'
                })
            </script>
            <% } %>  
   </body>
</html>
