<!doctype html>
<html lang="pt-br">
  <head>
        <title>Visualiar Cliente</title>
        <%- include('../../partials/head'); %>
  </head>
  <body onload="iniciar()">
    <header>
        <%- include('../../partials/header'),{nomeUsr:nomeUsr}; %>
      </header>
    <div class="container mt-4">
        <div class="border border-top-0 rounded m-5">
            <div class="card-header rounded-top text-dark px-3 bg-info">
                <h4 id="titulo">Informações do Cliente:</h4>
            </div>
            <div class="card-body">
                <div class="dados mt-0 px-3">
                    <div class="linha">
                        <strong>ID:</strong>
                        <p class="pe" id="id"></p>
                    </div>
                    <div class="linha">
                        <strong>Nome Cliente:</strong>
                        <p class="pe" id="nomeCli"></p>
                    </div>
                    <div class="linha">
                        <strong>Apelido:</strong>
                        <p class="pe" id="apelidoCli"></p>
                    </div>
                    <div class="linha">
                        <strong>CNPJ:</strong>
                        <p class="pe" id="cnpjCli"></p>
                    </div>
                    <div class="linha">
                        <strong>CPF:</strong>
                        <p class="pe" id="cpfCli"></p>
                    </div>
                    <div class="linha">
                        <strong>Endereço:</strong>
                        <p class="pe" id="endCli"></p>
                    </div>
                    <div class="linha">
                        <strong>Bairro:</strong>
                        <p class="pe" id="bairroCli"></p>
                    </div>
                    <div class="linha">
                        <strong>CEP:</strong>
                        <p class="pe" id="cepCli"></p>
                    </div>
                    <div class="linha">
                        <strong>Telefone:</strong>
                        <p class="pe" id="telCli"></p>
                    </div>
                    <div class="linha">
                        <strong>Celular:</strong>
                        <p class="pe" id="celCli"></p>
                    </div>
                    <a href="/editarCliente/<%= id %>" class="btn btn-info" tabindex="1" title="Editar">
                        <i class="bi bi-pencil-fill"></i> 
                    </a>     
                    <a href="/clientes" class="btn btn-secondary" tabindex="2" title="Editar">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>     
                </div>
            </div>    
        </div>    
    </div>
    <footer>
      <%- include('../../partials/footer'); %>
    </footer>
    <script>   
        function iniciar(){
            let url = "/getCli/"+'<%=id%>';
            console.log(url);
            const loadData = () => {
                const req = new XMLHttpRequest();
                req.onload = reqListener;
                req.open("get", url, true);
                req.send();
            };
            const reqListener = response => {
            let a = JSON.parse(response.currentTarget.response);
            let cli = a[0];
            //declatação das variaveis
            let t1 = document.getElementById("titulo");
            let cid = document.getElementById("id");
            let nome = document.getElementById("nomeCli");
            let apelido = document.getElementById("apelidoCli");
            let cnpj = document.getElementById("cnpjCli");
            let cpf = document.getElementById("cpfCli");
            let end = document.getElementById("endCli");
            let bairro = document.getElementById("bairroCli");
            let cep = document.getElementById("cepCli");
            let tel = document.getElementById("telCli");
            let cel = document.getElementById("celCli");
            // definindo valores no HTML
            t1.innerHTML = "Informações do Cliente: " + cli.cli_nome;
            cid.innerHTML = cli.cli_id;
            nome.innerHTML = cli.cli_nome; 
            apelido.innerHTML = cli.cli_apelido;
            cnpj.innerHTML = cli.cli_cnpj;
            cpf.innerHTML = cli.cli_cpf;
            end.innerHTML = cli.cli_endereco;
            bairro.innerHTML = cli.cli_bairro;
            cep.innerHTML = cli.cli_cep;
            tel.innerHTML = cli.cli_telefone;
            cel.innerHTML = cli.cli_celular;
            };
            loadData();
        }; 
        </script>  
   </body>
</html>
