<!doctype html>
<html lang="pt-br">
    <head>
        <title>Editar Usuário</title>
        <%- include('../../partials/head'); %>
    </head>
    <body onload="iniciar()">
        <header>
            <%- include('../../partials/header'),{nomeUsr:nomeUsr}; %>
        </header>
        <div class="border border-top-0 rounded m-5">
            <div class="bg-primary rounded-top text-white px-3">
                <h2 id="titulo">Editar Funcionário:</h2>
            </div>
                <div class="card-body">
                    <form action="/updateFunc" method="POST">
                        <input type="text" name="id" id="id"  hidden>
                        <div class="mb-3">
                            <label for="user" class="form-label">Nome Funcionário</label>
                            <input type="text" class="form-control" id="nomeFunc" name="nomeFunc" tabindex="1" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="user" class="form-label">CTPS</label>
                            <input type="text" class="form-control" id="ctpsFunc" name="ctpsFunc" tabindex="2" required>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-lg-6 col-md-12">
                                <label for="user" class="form-label">RG</label>
                                <input type="text" class="form-control" id="rgFunc" name="rgFunc" tabindex="3" required>
                            </div>
                        
                            <div class="mb-3 col-lg-6 col-md-12">
                                <label for="user" class="form-label">CPF</label>
                                <input type="text" class="form-control" id="cpfFunc" name="cpfFunc" tabindex="4" required>
                            </div>
                        </div>  
                        <div class="mb-3">
                            <label for="user" class="form-label">Endereço</label>
                            <input type="text" class="form-control" id="endFunc" name="endFunc" tabindex="5" required> 
                        </div> 
                        <div class="row">
                            <div class="mb-3 col-lg-6 col-md-12">
                                <label for="user" class="form-label">Bairro</label>
                                <input type="text" class="form-control" id="bairroFunc" name="bairroFunc" tabindex="6" required>
                            </div> 
                            <div class="mb-3 col-lg-6 col-md-12">
                                <label for="user" class="form-label">CEP</label>
                                <input type="text" class="form-control" id="cepFunc" name="cepFunc" tabindex="7" required>
                            </div>
                        </div>
                        <div class="row">     
                            <div class="mb-3 col-lg-3 col-md-12">
                                <label for="user" class="form-label">Status</label>
                                <select id="statusFunc" name="statusFunc" class="form-select"  tabindex="8" required>
                                    <option value="Ligado">Ligado</option>
                                    <option value="Desligado">Desligado</option>
                                </select> 
                            </div> 
                            <div class="mb-3 col-lg-6 col-md-12">
                                <label for="user" class="form-label">Salario</label>
                                <input type="text" class="form-control" id="salarioFunc" name="salarioFunc" tabindex="9" required>
                            </div>
                        </div>     
                        <div class="mb-3">
                            <label for="user" class="form-label">Cargo</label>
                            <input type="text" class="form-control" id="cargoFunc" name="cargoFunc" tabindex="10" required>
                        </div> 
                        <div class="mb-3">
                            <label for="user" class="form-label">Entrada</label>
                            <input type="date" class="form-control" id="entFunc" name="entFunc" tabindex="11" required>
                        </div> 
                        <div class="mb-3">
                            <label for="user" class="form-label">Saida</label>
                            <input type="text" class="form-control" id="saidaFunc" name="saidaFunc" tabindex="12">
                        </div>   
                        
                        <button type="submit" class="btn btn-primary" tabindex="13" title="Salvar">
                            <i class="bi bi-save"></i> 
                        </button>     
                        <a href="/funcionarios" class="btn btn-secondary" tabindex="14" title="Voltar">
                            <i class="bi bi-arrow-return-left"></i>
                        </a> 
                    </form>
                </div>
            </div>    
        </div>
    <footer>
      <%- include('../../partials/footer'); %>
    </footer>
    <script>     
        function iniciar(){
            let url = "/getFunc/"+"<%= id %>";
            const loadData = () => {
                const req = new XMLHttpRequest();
                req.onload = reqListener;
                req.open("get", url, true);
                req.send();
            };
            const reqListener = response => {
            let a = JSON.parse(response.currentTarget.response);
            let func = a[0];
            //declatação das variaveis
            let t1 = document.getElementById("titulo");
            let fid = document.getElementById("id");
            let nome = document.getElementById("nomeFunc");
            let ctps = document.getElementById("ctpsFunc");
            let rg = document.getElementById("rgFunc");
            let cpf = document.getElementById("cpfFunc");
            let end = document.getElementById("endFunc");
            let bairro = document.getElementById("bairroFunc");
            let cep = document.getElementById("cepFunc");
            let status = document.getElementById("statusFunc");
            let salario = document.getElementById("salarioFunc");
            let cargo = document.getElementById("cargoFunc");
            let entrada = document.getElementById("entFunc");
            let saida = document.getElementById("saidaFunc");
            // definindo valores no HTML
            t1.innerHTML = "Editar Funcionário: " + func.func_nome;
            fid.value =  func.func_id;
            nome.value = func.func_nome
            ctps.value =  func.func_ctps;
            rg.value =  func.func_rg;
            cpf.value =  func.func_cpf;
            end.value =  func.func_endereco;
            bairro.value =  func.func_bairro;
            cep.value =  func.func_cep;
            status.value =  func.func_status;
            salario.value =  func.func_salario;
            cargo.value =  func.func_cargo;
            entrada.value =  func.func_entrada;
            saida.value =  func.func_saida;           
            };
            loadData();
        };   
    </script>
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%=aTitle%>',
                text: '<%=aText%>',
                icon: '<%=aIcon%>',
                showConfirmButton: '<%=scb%>',
                timer: '<%=timer%>'
            }).then(()=>{
                window.location='<%=rota%>'
            })
        </script>
    <% } %>
    </body>
</html>
