<html lang="pt-br">

<head>
    <title>Editar Usuário</title>
    <%- include('../../partials/head'); %>
</head>

<body onload="start()">
    <header>
    </header>
    <div class="container">
        <div class="card border-secondary">
            <div class="bg-primary mikk card-header rounded-top text-white px-3 ">
                <div class=" col-1">
                    <a href="/infosUsuario/<%= Usu.id %>" class="btn-top btn btn-light" tabindex="1" title="Voltar"
                        style="font-size: 1rem;">
                        <i class="bi bi-arrow-return-left" style="font-size: 1.5rem;"></i>
                    </a>
                </div>
                <div class="t-titulo col-11 ">
                    <h2 id="titulo" class='text-light'>
                        <i class="bi bi-person-square"> Editar Usuário: <%= Usu.id %></i>
                    </h2>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-3 centralizar">
                    <img class="pic-user row" src="<%=Usu.foto%>">
                    <div id="ac" class="ac">
                        <button type="button" class="btn btn-primary" onclick="trocarFoto()" tabindex="2">
                            <i class="bi bi-camera"></i> Trocar Foto
                        </button>
                    </div>
                    <%- include('../../partials/corteFoto'); %>
                </div>
                <form action="/api/updateUsr" method="POST">
                    <input type="text" name="id" id="id" value="<%=Usu.id%>" hidden>
                    <div class="mb-3">
                        <label for="user" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="nome" name="nome" value="<%=Usu.nome%>"
                            tabindex="3">
                    </div>
                    <div class="formEdit">
                        <div class="mb-3 col-12 col-sm-6">
                            <label for="user" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" value="<%=Usu.email%>"
                                tabindex="4">
                        </div>

                    </div>
                    <div class="formEdit mb-4">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            onclick="tsdua('<%= Usu.email%>')" data-target="#cropModal" tabindex="5"
                            title="trocar senha">
                            <i class="bi bi-unlock"></i> Trocar Senha
                        </button>
                    </div>
                        <strong for="user" class="form-label">
                            <%= Usu.classe %>
                        </strong>
                        <input type="text" name="id" id="id" value="<%=Usu.classe%>" hidden>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" tabindex="6" title="Salvar">
                            <i class="bi bi-device-hdd-fill" style="font-size: 3.0rem;"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../../partials/footerCreate'); %>
        <footer>
            <%- include('../../partials/footer'); %>
        </footer>
        <script>
            
            function tsdua(email) {
                Swal.fire({
                    title: 'Trocar Senha do Usuário ' + email + '?',
                    html: '<form id="formTsdua" action="/api/WEPPA/' + email + '" method="POST">' +
                        '<div class="mb-3"> <strong for="user" class="pe">Digite sua Senha</strong>' +
                        '<input type="password" class="form-control" id="senhaAdmin" name="senhaAdmin" tabindex="1" required></div>' +
                        '<div class="mb-3"><strong for="user" class="pe">Nova Senha</strong>' +
                        '<input type="text" class="form-control" id="novaSenha" name="novaSenha" tabindex="2" required></div></form>'
                    ,
                    icon: 'warning',
                    showDenyButton: true,
                    denyButtonColor: '#8d8d8d',
                    denyButtonText: 'Cancelar',
                    confirmButtonColor: '#136EF0',
                    confirmButtonText: 'Trocar',
                    preConfirm: () => {
                        const form = document.getElementById('formTsdua');
                        form.submit();
                    }
                })
            }
            function trocarFoto() {
                Swal.fire({
                    title: 'Trocar foto do Usuário ' + '<%= Usu.id %>' + '?',
                    html: '<form id="formFoto" action="/api/trocarFoto/<%= Usu.id %>" method="POST" enctype="multipart/form-data">' +
                        '<input type="file" class="form-control" id="foto" name="foto">',
                    icon: 'warning',
                    showDenyButton: true,
                    denyButtonColor: '#8d8d8d',
                    denyButtonText: 'Cancelar',
                    confirmButtonColor: '#136EF0',
                    confirmButtonText: 'Trocar',
                    preConfirm: () => {
                        const form = document.getElementById('formFoto');
                        form.submit();
                    }
                })
            }
            function start() {
                // Quando o usuário selecionar uma imagem
                document.getElementById('formFoto').addEventListener('change', function (event) {
                    // Cria um objeto de recorte de imagem com a imagem selecionada
                    var cropper = new Cropper(document.getElementById('imagemSelecionada'), {
                        aspectRatio: 1, // A imagem deve ser quadrada
                        viewMode: 1, // O usuário pode selecionar a área da imagem inteira
                        dragMode: 'move', // O usuário pode mover a área selecionada
                        cropBoxResizable: false, // O tamanho da área selecionada não pode ser alterado
                    });

                    // Quando o usuário envia o formulário
                    document.querySelector('form').addEventListener('submit', function (event) {
                        // Impede o envio do formulário enquanto a imagem está sendo cortada
                        event.preventDefault();

                        // Obtém a área selecionada pelo usuário
                        var areaSelecionada = cropper.getData();

                        // Cria um campo oculto no formulário para enviar a posição selecionada pelo usuário
                        var posicaoSelecionada = document.createElement('input');
                        posicaoSelecionada.type = 'hidden';
                        posicaoSelecionada.name = 'posicaoSelecionada';
                        posicaoSelecionada.value = JSON.stringify(areaSelecionada);
                        this.appendChild(posicaoSelecionada);

                        // Envia o formulário com a imagem selecionada e a posição selecionada pelo usuário
                        this.submit();
                    });
                });
            }
        </script>

</body>

</html>