<html lang="pt-br">

<head>
  <title>Usuarios</title>
  <%- include('../../partials/headIndex'); %>
</head>

<body onload="iniciar()">
  <div id="wrapper">
    <div class="overlay"></div><!-- precisa acabar aqui -->
    <header>
      <% if(typeof nomeUsr !="undefined" && Usr!="undefined" ){ %>
        <%- include('../../partials/header'),{nomeUsr:nomeUsr, Usr:Usr}; %>
          <% } %>
    </header>
    <div id="page-content-wrapper">
      <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
      <div>
        <div class="col-lg-12 col-lg-offset-2">
          <a href="/novoUsuario" class="btn-flutuante btn-outline-primary">
            <i class="bi bi-plus-circle-fill" style="font-size:30px;"></i>
          </a>
          <div class=" bg-deg-primary con">
            <h1 class="text-light sombra-dark">
              <i class="bi bi-person-vcard"></i> Usuários</h1>
          </div>
        </div>
        <div class="divisor">
          <div class="tabela justify-content-center">
            <div class="col-lg-12 col-lg-offset-2">
              <div class="row">
                <table id="usu" class="table table-striped text-center md-4 ">
                  <thead>
                    <tr class="bg-deg-primary text-white">
                      <th></th>
                      <th scope="col">Nome</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="bg-light">
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- fim da div "tabela" -->
          <!--            INFOS DO USUÁRIO -->
          <div id="infos" class="infos infosUser"></div>
        </div><!-- DIVISOR -->
      </div>
    </div>
  </div>
  </div>
  <footer>
    <%- include('../../partials/footer'); %>
  </footer>

  <script>
    function iniciar() {
      myMenu();
    }
    var isUserAdmin
      if('<%=Usr%>' && '<%=Usr.classe%>' ==="admin"){
        isUserAdmin = true
      }else{
        isUserAdmin = false
      }
    $(document).ready(function () {
      const table = $('#usu').DataTable({
        ajax: {
          url: "/api/getUsr",
          dataSrc: ""
        },
        columns: [
          {
            data: null,
            "orderable": false,
            "render": function (data) {
              return '<a class="pointer" onclick="getUserInfoById(' + data.id + ')">' +
                '<img class="foto-lista" src="' + data.foto + '" width="45"></a>'//'" class="btn btn-sm btn-outline-secondary" title="Ver mais"><i class="bi bi-eye-fill"></i></a><br>' + data.id;
            }
          },
          {
            data: null,
            "render": function (data) {
              return '<p><strong>' + data.nome + '</strong><br>' +
                data.email + '</p>'//'" class="btn btn-sm btn-outline-secondary" title="Ver mais"><i class="bi bi-eye-fill"></i></a><br>' + data.id;
            }
          },
          {
            data: null,
            "orderable": false,
            "render": function (data) {
              let btnHtml = '<a onclick="getUserEditById(' + data.id + ' )" class="btn btn-outline-primary" title="Editar"><i class="bi bi-pencil-fill"></i></a>'
              if (isUserAdmin) {
                  btnHtml += '<a class="btn btn-outline-danger" onclick="confirmar(' + data.id + ' )" title="Apagar"><i class="bi bi-trash-fill"></i></a>';
                }
                return btnHtml;
              }
          }
        ],
        "order": [[1, "asc"]],
        pageLenght: 50,
        lenghtMenu: [[-1], ['Todos']],
        stateSave: true,
        language: {
          lengthMenu: '',
          zeroRecords: 'Nenhum dado foi encontrado',
          info: '',
          infoEmpty: 'Sem dados',
          infoFiltered: '(filtrado do total de _MAX_ registros)',
          search: '<i class="bi bi-search pesquisa mb-1 lg-mx-auto md-ml-auto"></i>',
          paginate: {
            first: "Primeira",
            last: "Última",
            next: "Próxima",
            previous: "Anterior"
          }
        },
        stateSave: true
      });
    });
    function confirmar(id) {
      Swal.fire({
        title: 'Tem certeza que deseja apagar Usuário ' + id + '?',
        text: "Você não poderá reverter isso.",
        icon: 'warning',
        showDenyButton: true,
        denyButtonColor: '#8d8d8d',
        denyButtonText: 'Cancelar',
        confirmButtonColor: '#ff0000',
        confirmButtonText: 'Apagar'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location = '/api/delUsr/' + id;
        }
      })
    }

  </script>

</body>

</html>