<!doctype html>
<html lang="pt-br">
  <head>
        <title>Visualiar Entrada</title>
        <%- include('../../partials/head'); %>
  </head>
  <body  onload="iniciar()">
    <header>
        <%- include('../../partials/header'),{nomeUsr:nomeUsr}; %>
    </header>
    
    <div class="border border-top-0 rounded m-5">
        <div class="bg-success rounded-top text-white px-3">
            <h2 id="titulo">Visualização de Entrada ID: </h2>
        </div>
        <div class="card-body">
            <div class="dados mt-0 px-3">
                <div class="linha">
                    <strong>ID:</strong>
                    <p class="pe" id="idEnt"></p>
                </div>
                <div class="linha">
                    <strong>Nome Entrada: </strong>
                    <p class="pe" id="nomeEnt"></p>
                </div>
                <div class="linha">
                    <strong>Id Caminhão:</strong>
                    <p class="pe" id="idCam"></p>
                </div>
                <div class="linha">
                    <strong>Id Cliente: </strong>
                    <p class="pe" id="idCli"></p>
                </div>
                <div class="linha">
                    <strong>Id Vendedor:</strong>
                    <p class="pe" id="idVend"></p>
                </div>
                <div class="linha">
                    <strong>Id Motorista: </strong>
                    <p class="pe" id="idMoto"></p>
                </div>
                <div class="linha">
                    <strong>Valor:</strong>
                    <p class="pe" id="valorEnt"></p>
                </div>
                <div class="linha">
                    <strong>Quantidade:  </strong>
                    <p class="pe" id="qtdEnt"></p>
                </div>
                <div class="linha">
                    <strong>Total: </strong>
                    <p class="pe" id="totalEnt"></p>
                </div>
                <div class="linha">
                    <strong>Data::</strong>
                    <p class="pe" id="dataEnt"></p>
                </div>
                <div class="linha">
                    <strong>Obs: </strong>
                    <p class="pe" id="obsEnt"></p>
                </div>
                    

                    <a href="/editarEntrada/<%= id %>" class="btn btn-success" tabindex="1" title="Editar">
                        <i class="bi bi-pencil-fill"></i> 
                    </a>     
                    <a href="/entradas" class="btn btn-secondary" tabindex="2" title="Editar">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>     
                </div>
            </div>
        </div>        
    </div>
    <footer>
      <%- include('../../partials/footer'); %>
    </footer>
    <script>
    function iniciar(){
        let url = "/getEnt/"+'<%-id%>';
        console.log(url);
        const loadData = () => {
            const req = new XMLHttpRequest();
            req.onload = reqListener;
            req.open("get", url, true);
            req.send();
        };
        const reqListener = response => {
        let a = JSON.parse(response.currentTarget.response);
        let ent = a[0];
        //declatação das variaveis
        let t1 = document.getElementById("titulo");
        let eid = document.getElementById("idEnt");
        let nome = document.getElementById("nomeEnt");
        let cam = document.getElementById("idCam");
        let clie = document.getElementById("idCli");
        let vend = document.getElementById("idVend");
        let moto = document.getElementById("idMoto");
        let vlr = document.getElementById("valorEnt");
        let qtd = document.getElementById("qtdEnt");
        let total = document.getElementById("totalEnt");
        let dataE = document.getElementById("dataEnt");
        let obs = document.getElementById("obsEnt");
        // definindo valores no HTML
        t1.innerHTML = "Visualização de Entrada: " + ent.ped_id;
        eid.innerHTML =  ent.ped_id;
        nome.innerHTML =  ent.ped_nome;
        cam.innerHTML =  ent.cam_id;
        clie.innerHTML =  ent.cli_id;
        vend.innerHTML =  ent.vendedor_id;
        moto.innerHTML =  ent.motorista_id;
        vlr.innerHTML =  "R$ "+ ent.ped_valor.toFixed(2);
        qtd.innerHTML =  ent.ped_qtd;
        total.innerHTML = "R$ "+ ent.total.toFixed(2)
        dataE.innerHTML =  ent.data
        obs.innerHTML =  ent.ped_obs

        console.log(ent);
        
        };
        loadData();
    }; 
    </script> 
   </body>
</html>
