<!doctype html>
<html lang="pt-br">
  <head>
        <title>Criar Entrada</title>
        <!-- Required meta tags -->
        <%- include('../../partials/head'); %>
  </head>
  <body onload="myTotal()">
    <header>
        <%- include('../../partials/header'),{nomeUsr:nomeUsr}; %>
    </header>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header bg-success">
                <h4 class="text-white">Nova Entrada</h4>
            </div>
            <div class="card-body" >
                <form action="/setEnt" method="POST" id="formEnt">
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">Nome Entrada</label>
                        <input type="text" class="form-control" id="nomeEnt" name="nomeEnt" tabindex="1" required>
                    </div>
                    <div class="d-flex justify-content-between input-colum">
                        <div class="m-1  col-md-6 col-sm-12">
                            <label for="Pedido" class="form-label">Cliente</label>
                            <input type="text" class="form-control" id="cliEnt" name="cliEnt" tabindex="2" required>
                        </div>                         
                        <div class="m-1 col-md-6 col-sm-12">
                            <label for="Pedido" class="form-label">Vendedor</label>
                            <input type="text" class="form-control" id="vendEnt" name="vendEnt" tabindex="3" required>  
                        </div>
                    </div>    
                    <div class="d-flex justify-content-between input-colum">    
                        <div class="m-1  col-md-6 col-sm-12">
                            <label for="Pedido" class="form-label">caminhao ID</label>
                            <input type="text" class="form-control" id="camEnt" name="camEnt" tabindex="4" required>
                        </div>
                        <div class="m-1  col-md-6 col-sm-12">
                            <label for="Pedido" class="form-label">Motorista</label>
                            <input type="text" class="form-control" id="motoEnt" name="motoEnt" tabindex="5" required>  
                        </div>
                    </div>
                    <div class="d-flex justify-content-between input-colum">
                    <div class="mb-3 col-md-3 col-sm-12">
                        <label for="Pedido" class="form-label">Valor</label>
                        <input type="text" class="form-control" id="valorEnt" name="valorEnt" tabindex="6" required>  
                    </div>
                    <div class="mb-3 col-md-3 col-sm-12">
                        <label for="Pedido" class="form-label">Quantidade:</label>
                        <input type="text" class="form-control" id="qtdEnt" name="qtdEnt" tabindex="7" required>  
                    </div>
                    <div class="mb-3 col-md-3 col-sm-12">
                        <label for="Pedido" class="form-label">TOTAL:</label>
                        <input type="text" class="form-control" name="totalEnt" id="totalEnt" readonly>
                    </div>
                    </div>
                    <div class="mb-3 col-4">
                        <label for="Pedido" class="form-label">Data Entrada:</label>
                        <input type="date" class="form-control " id="dataEnt" name="dataEnt" tabindex="8" required>  
                    </div>
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">Obs.:</label>
                        <textarea  form="formEnt" class="form-control" id="obsEnt" tabindex="9" form="Pedido" name="obsEnt" placeholder="Digite alguma observação"></textarea>
                         
                    </div>       
                    <button type="submit" class="btn btn-success" tabindex="10" title="Salvar">
                        <i class="bi bi-save"></i> 
                    </button>     
                    <a href="/entradas" class="btn btn-secondary" tabindex="11" title="Voltar">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>    
                </form>
            </div>
        </div>    
    </div>
    <footer>
         
        <%- include('../../partials/footer'); %>
    </footer>
    <script>
        function calculo() { setInterval(myTotal, 500)}
        function myTotal(){
            let qtd = document.getElementById("qtdEnt").value;
            let  valor = document.getElementById("valorEnt").value;                
            let t = qtd*valor;
            document.getElementById("totalEnt").value = t
            calculo();
        }
    </script>
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%=aTitle%>',
                text: '<%=aText%>',
                icon: '<%=aIcon%>',
                showConfirmButton: '<%=scb%>',
                timer: '<%=timer%>'
            }).then(()=>{
                window.location='<%=rota%>'
            })
        </script>
    <% } %>  
  </body>
</html>
