<!doctype html>
<html lang="pt-br">
  <head>
        <title>Visualizar Caminhão</title>
        <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <% if (tb_caminhao) { %>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header bg-warning">
                <h4 class="text-white">Descrição completa de: <%= tb_caminhao.cam_nome %> </h4>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <p>ID: <%= tb_caminhao.cam_id %></p>
                </div>
                <div class="mb-3">
                    <p>Nome: <%= tb_caminhao.cam_nome %></p>
                </div>
                <div class="mb-3">
                    <p>Placa: <%= tb_caminhao.cam_placa %></p>
                </div>
                <div class="mb-3">
                    <p>Tamanho: <%= tb_caminhao.cam_tamanho %></p>
                </div> 
                <div class="mb-3">
                    <p>Ano: <%= tb_caminhao.cam_ano %></p>
                </div> 
                <div class="mb-3">
                    <label for="user" class="form-label">RENAVAM: <%= tb_caminhao.cam_renavam %></label>
                </div>
                
                <a href="/camEdit/<%= tb_caminhao.cam_id %>" class="btn btn-warning" tabindex="1" title="Editar">
                    <i class="bi bi-pencil-fill"></i> 
                </a>     
                <a href="/caminhoes" class="btn btn-secondary" tabindex="2" title="Voltar">
                    <i class="bi bi-arrow-return-left"></i>
                </a>     
            </div>     
            </div>
        </div>    
    </div>
    <% } %>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>  
   </body>
</html>
