<!doctype html>
<html lang="pt-br">

<head>
  <title>Clientes</title>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <div class="container">
    <a href="/cliCreate" class="btn btn-outline-info mt-4">
      <i class="bi bi-plus-circle-fill" style="font-size:30px;"></i>
    </a>
    <table class="table table-bordered table-striped text-center md-4">
      <thead>
        <tr class="bg-info text-white">
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Endereço</th>
          <th scope="col">Telefone</th>
          <th scope="col">Funções</th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach((tb_cliente)=> { %>
          <tr>
            <td>
              <a href="/cliGet/<%= tb_cliente.cli_id %>" class="btn btn-sm btn-outline-secondary" title="Editar">
                <i class="bi bi-eye-fill"></i>
              </a><br>
              <%= tb_cliente.cli_id %>
            </td>
            <td>
              <%= tb_cliente.cli_nome %>
            </td>
            <td>
              <%= tb_cliente.cli_cpf %>
            </td>
            <td>
              <%= tb_cliente.cli_endereco %>
            </td>
            <td>
              <%= tb_cliente.cli_telefone %>
            </td>
            <td>
              <a href="/cliEdit/<%= tb_cliente.cli_id %>" class="btn btn-outline-secondary" title="Editar">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <!--<a href="/cliDel/<%= tb_cliente.cli_id %>" class="btn btn-outline-danger" onclick="return confirm('Tem certeza que deseja Excluir Cliente?');" title="Apagar"></a>-->
              <a class="btn btn-outline-danger" onclick="confirmar(' <%= tb_cliente.cli_id %>' )" title="Apagar">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <script>
    function confirmar(id) {
      Swal.fire({
        title: 'Tem certeza que deseja apagar Cliente?',
        text: "Você não poderá reverter isso.",
        icon: 'warning',
        showDenyButton: true,
        confirmButtonColor: '#ff0000',
        denyButtonColor: '#8d8d8d',
        denyButtonText: 'Cancelar',
        confirmButtonText: 'Apagar'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location = '/cliDel/' + id;
        }
      })
    }
  </script>
</body>

</html>