<!doctype html>
<html lang="pt-br">
  <head>
        <title>Visualiar Cliente</title>
        <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <% if (tb_cliente) { %>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header bg-info">
                <h4 class="text-white">Dados completos da Cliente ID: <%= tb_cliente.cli_id %></h4>
            </div>
            
            <div class="card-body">
                <div class="mb-3">
                    <p><strong>ID: </strong><%= tb_cliente.cli_id %></p>
                </div>
                <div class="mb-3">
                    <p><strong>Nome Cliente: </strong><%= tb_cliente.cli_nome %></p>
                </div>
                <div class="mb-3">
                    <p><strong>Apelido: </strong><%= tb_cliente.cli_apelido %></p>
                </div>
                <div class="mb-3">
                    <p><strong>CNPJ: </strong><%= tb_cliente.cli_cnpj %></p>
                </div>
                <div class="mb-3">
                    <p><strong>CPF: </strong><%= tb_cliente.cli_cpf %></p>
                </div>
                <div class="mb-3">
                    <p><strong>Endereço: </strong><%= tb_cliente.cli_endereco %></p>
                </div>
                <div class="mb-3">
                    <p><strong>Bairro: </strong><%= tb_cliente.cli_bairro%></p>
                </div>
                <div class="mb-3">
                    <p><strong>Cep: </strong><%= tb_cliente.cli_cep %></p>
                </div>
                <div class="mb-3">
                    <p><strong>Telefone: </strong><%= tb_cliente.cli_telefone %></p>
                </div> 
                <div class="mb-3">
                    <p><strong>Celular: </strong><%= tb_cliente.cli_celular %></p>
                </div>
                

                <a href="/cliEdit/<%= tb_cliente.cli_id %>" class="btn btn-info" tabindex="1" title="Editar">
                    <i class="bi bi-pencil-fill"></i> 
                </a>     
                <a href="/clientes" class="btn btn-secondary" tabindex="2" title="Editar">
                    <i class="bi bi-arrow-return-left"></i>
                </a>     
            </div>
        </div>    
    </div>
    <% } %>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>  
   </body>
</html>
