<!doctype html>
<html lang="pt-br">
  <head>
        <title>Editar Entrada</title>
        <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <% if (tb_pedido) { %>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header bg-success">
                <h4 class="text-white">Editar Entrada ID: <%= tb_pedido.ped_id %></h4>
            </div>
            <div class="card-body">
                <form action="/updateEnt" method="POST">
                    <input type="text" name="id" id="id" value="<%= tb_pedido.ped_id %>" hidden>
                    <div class="mb-3">
                        <label for="saida" class="form-label">Nome Saída</label>
                        <input type="text" class="form-control" id="nomeEnt" name="nomeEnt" tabindex="1"value="<%= tb_pedido.ped_nome %>">
                    </div>
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">caminhao ID</label>
                        <input type="text" class="form-control" id="camEnt" name="camEnt" tabindex="2"value="<%= tb_pedido.cam_id %>">
                    </div>
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">Cliente</label>
                        <input type="text" class="form-control" id="cliEnt" name="cliEnt" tabindex="3"value="<%= tb_pedido.cli_id %>">
                    </div> 
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">Vendedor</label>
                        <input type="text" class="form-control" id="vendEnt" name="vendEnt" tabindex="4"value="<%= tb_pedido.vendedor_id %>">
                    </div>
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">Motorista</label>
                        <input type="text" class="form-control" id="motoEnt" name="motoEnt" tabindex="5"value="<%= tb_pedido.motorista_id %>">  
                    </div>
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">Valor</label>
                        <input type="text" class="form-control" id="valorEnt" name="valorEnt" tabindex="6"value="<%= tb_pedido.ped_valor %>">  
                    </div>
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">Quantidade</label>
                        <input type="text" class="form-control" id="qtdEnt" name="qtdEnt" tabindex="7" value="<%= tb_pedido.ped_qtd %>">  
                    </div>
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">Total</label>
                        
                        <p id="total" value=""><%= tb_pedido.ped_qtd %></p> 
                    </div>
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">Data Entrada</label>
                        <input type="date" class="form-control" id="dataEnt" name="dataEnt" tabindex="9" value="<%= tb_pedido.ped_data %>"> 
                    </div>
                    <div class="mb-3">
                        <label for="Pedido" class="form-label">Obs.</label>
                        <input type="text" class="form-control" id="obsEnt" name="obsEnt" tabindex="10"value="<%= tb_pedido.ped_obs %>"> 
                    </div>       
                    <button type="submit" class="btn btn-success" tabindex="11" title="Salvar">
                        <i class="bi bi-save"></i> 
                    </button>     
                    <a href="/entrada" class="btn btn-secondary" tabindex="6" title="Voltar">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>    
                </form>
            </div>
        </div>    
    </div>
    <% } %>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>  
   </body>
</html>
