<!doctype html>
<html lang="pt-br">

<head>
  <title>Funcionarios</title>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <div class="container">
    <a href="/funcCreate" class="btn btn-outline-primary mt-4">
      <i class="bi bi-plus-circle-fill" style="font-size:30px;"></i>
    </a>
    <table class="table table-bordered table-striped text-center md-4">
      <thead>
        <tr class="bg-primary text-white">
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Cargo</th>
          <th scope="col">Status</th>
          <th scope="col">Salário</th>
          <th scope="col">Funções</th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach((tb_funcionario)=> { %>
          <tr>
            <td>
              <a href="/funcGet/<%= tb_funcionario.func_id %>" class="btn btn-sm btn-outline-secondary" title="Ver mais">
                <i class="bi bi-eye-fill"></i>
              </a><br>
              <%= tb_funcionario.func_id %>
            </td>
            <td>
              <%= tb_funcionario.func_nome %>
            </td>
            <!--<td>< tb_funcionario.func_ctps %></td>
                        <td>< tb_funcionario.func_rg %></td>
                        <td>< tb_funcionario.func_cpf %></td>-->
            <td>
              <%= tb_funcionario.func_cargo %>
            </td>
            <td>
              <%= tb_funcionario.func_status %>
            </td>
            <td>
              <%= tb_funcionario.func_salario %>
            </td>
            <!--<td>< tb_funcionario.func_entrada %></td>
                        <td>< tb_funcionario.func_bairro %></td>
                        <td>< tb_funcionario.func_saida %></td>-->
            <td>
              <a href="/funcEdit/<%= tb_funcionario.func_id %>" class="btn btn-outline-secondary" title="Editar">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <a class="btn btn-outline-danger" onclick="confirmar(' <%= tb_funcionario.func_id %>' )" title="Apagar">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
<script>
  function confirmar(id) {
    Swal.fire({
      title: 'Tem certeza que deseja apagar Funcionário?',
      text: "Você não poderá reverter isso.",
      icon: 'warning',
      showDenyButton: true,
      confirmButtonColor: '#ff0000',
      denyButtonColor: '#8d8d8d',
      denyButtonText: 'Cancelar',
      confirmButtonText: 'Apagar'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location = '/funcDel/' + id;
      }
    })
  }
</script>

</html>