<!doctype html>
<html lang="pt-br">
  <head>
        <title>Editar Usuário</title>
        <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <% if (tb_saida) { %>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header bg-danger">
                <h4 class="text-white">Editar saída ID: <%= tb_saida.saida_id %></h4>
            </div>
            <div class="card-body">
                <form action="/updateSaida" method="POST">
                    <input type="text" name="id" id="id" value="<%= tb_saida.saida_id %>" hidden>
                    <div class="mb-3">
                        <label for="saida" class="form-label">Nome Saída</label>
                        <input type="text" class="form-control" id="nomeSaida" name="nomeSaida" tabindex="1" value="<%= tb_saida.saida_nome %>">
                    </div>
                    <div class="mb-3">
                        <label for="saida" class="form-label">Valor</label>
                        <input type="text" class="form-control" id="valorSaida" name="valorSaida" tabindex="2" value="<%= tb_saida.saida_valor %>">
                    </div>
                    <div class="mb-3">
                        <label for="saida" class="form-label">Data</label>
                        <input type="date" class="form-control" id="dataSaida" name="dataSaida" tabindex="3" value="<%= tb_saida.saida_data %>">
                    </div> 
                    <div class="mb-3">
                        <label for="saida" class="form-label">Obs.</label>
                        <input type="text" class="form-control" id="obsSaida" name="obsSaida" tabindex="4" value="<%= tb_saida.saida_obs%>">  
                    </div> 
                    <button type="submit" class="btn btn-danger" tabindex="5" title="Salvar">
                        <i class="bi bi-save"></i> 
                    </button>     
                    <a href="/saida" class="btn btn-secondary" tabindex="6" title="Voltar">
                        <i class="bi bi-arrow-return-left"></i>
                    </a>    
                </form>
            </div>
        </div>    
    </div>
    <% } %>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>  
   </body>
</html>
